.container{
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: repeat(2, 200px) 100px; */
    /* grid-template-columns: repeat(3, 1fr) 4fr; */
    /* justify-content: space-between; */
    grid-template-columns: 100px 100px auto;
    text-align: center;
    justify-content: center;
    border: 1px solid tomato;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-columns: 1fr 2fr 3fr;
}
.item{
    border: 1px solid aquamarine;
    border: 1.5px solid purple;
}